nav{
  img{
    display: inline;
    border-bottom: 4px solid black;
    padding-right: 40%;
  }
  ul{
    display:inline;

    li{
      display:inline-block;
      margin-right: 2%;
      float: right;
      margin-top: 1.5%;
    }
  }
}