nav{
  img{
    display: inline;
    border-bottom: 4px solid black;
    padding-right: 40%;
  }
  ul{
    display:inline;

    li{
      display:inline-block;
      margin-right: 2%;
      float: right;
      margin-top: 1.5%;
    }
  }
}
@media only screen and (max-width: 768px) {
  nav{
    display: flex;
    img{
      padding-right: 0;
    }
    ul{
      display:block;
      li{
        margin-right: 10%;
        float: none;
      }
    }
  }

}
